.intro-screen {

    position: fixed;
    top: 50%;
    left: 50%;
    animation: grow 0.5s ease-out forwards;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
    border-radius: 0.25em;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.start-button {

    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.5em 2em;
    background-color: black;
    color: white;

    transition: background-color 0.5s;

}

.start-button:hover {

    background: none;
    color: white;
    cursor: pointer;

}



@keyframes grow {

    from {
        scale: 0.6;
        transform: translate(-50%, -50%);
    }

    to {
        scale: 1;
        transform: translate(-50%, -100%);
    }

}